$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

$border-size: 2px;

.error {
  margin-top: 12px;
  border: $border-size solid $secondary;
  color: $primary;
  border-radius: 0.75rem;
  padding: 10px;
}
